<template>
  <div class="incoming-area">
    <shapes
      v-for="shape in incomingShapes"
      :key="shape.id"
      :shape="shape"
      :id= "`incoming-shape-${shape.id}`" />
  </div>
</template>

<script>
import Shapes from '@/components/PlaygroundSceneShapes'
import { mapGetters, mapState, mapMutations } from 'vuex'
import { LEFT_ARROW, RIGHT_ARROW } from '@/constants/keys'
import { LEVER_HEIGHT, LEVER_WIDTH } from '@/constants/teeter-totter'
export default {
  computed: {
    ...mapGetters([
      'leverBendingAngle',
      'isLeverAngleWithinLimits'
    ]),
    ...mapState([
      'gamePaused',
      'incomingShapes',
      'fallingIntervalGap'
    ]),
    incomingShapeElem () {
      const { id } = this.incomingShapes[0]
      return document.getElementById(`incoming-shape-${id}`)
    }
  },
  data () {
    return {
      timer: null,
      leverElem: null,
      shapeBottomLimit: null
    }
  },
  watch: {
    gamePaused (val) {
      if (val) {
        return clearInterval(this.timer)
      }
      this.getShapeBottomLimit()
      this.start()
    }
  },
  mounted () {
    const leverElem = document.querySelector('.lever')
    this.leverElem = leverElem
    leverElem.addEventListener('transitionend', this.handleBoardTransitionEnd)
    window.addEventListener('keydown', this.moveShapeHorizontally)
  },
  beforeDestroy () {
    this.leverElem.removeEventListener('transitionend', this.handleBoardTransitionEnd)
    window.removeEventListener('keydown', this.moveShapeHorizontally)
  },
  methods: {
    ...mapMutations([
      'addEffort',
      'moveShape',
      'toggleModal',
      'generateShape',
      'toggleGame',
      'updateFallingIntervalGap'
    ]),
    start () {
      this.timer = setInterval(this.animateShape, this.fallingIntervalGap)
    },
    animateShape () {
      if (this.incomingShapes[0].top >= this.shapeBottomLimit) {
        this.landShape()
      } else {
        this.dropShape()
      }
    },
    landShape () {
      const landedShape = this.incomingShapes.shift()
      clearInterval(this.timer)
      this.addEffort(landedShape)
      this.updateFallingIntervalGap()
      this.generateShape()
      this.start()
    },
    dropShape () {
      this.incomingShapes[0].top += 1
      this.incomingShapeElem.style.top = `${this.incomingShapes[0].top}px`
    },
    getShapeBottomLimit () {
      const boardBounds = this.leverElem.getBoundingClientRect()
      const headerBounds = document.querySelector('header').getBoundingClientRect()
      const shapeBounds = this.incomingShapeElem.getBoundingClientRect()
      const totter = boardBounds.bottom - boardBounds.top - LEVER_HEIGHT
      const similar = (this.incomingShapes[0].left * totter) / LEVER_WIDTH
      this.shapeBottomLimit = this.leverBendingAngle >= 0
        ? boardBounds.top + similar - shapeBounds.height - headerBounds.height
        : boardBounds.bottom - similar - shapeBounds.height - headerBounds.height
    },
    handleBoardTransitionEnd () {
      if (this.gamePaused) {
        return
      }
      if (this.isLeverAngleWithinLimits) {
        this.getShapeBottomLimit()
      } else {
        this.toggleGame()
        this.toggleModal(true)
      }
    },
    moveShapeHorizontally ({ keyCode }) {
      const isArrowKeyPressed = [LEFT_ARROW, RIGHT_ARROW].includes(keyCode)
      if (this.gamePaused || !isArrowKeyPressed) {
        return
      }
      const shapeWidth = this.incomingShapeElem.getBoundingClientRect().width
      const areaWidth = document.querySelector('.incoming-area').getBoundingClientRect().width
      this.moveShape({
        moveLeft: keyCode === LEFT_ARROW,
        width: (shapeWidth / areaWidth) * 100
      })
      this.$nextTick(this.getShapeBottomLimit)
    }
  },
  components: {
    Shapes
  }
}
</script>
<style lang="scss">
  .incoming-area {
      position: relative;
      flex: 1 1 50%
  }
</style>
