<template>
  <div class="shape" :class="shapeClasses">
    <div class="weight">{{ shape.weight }} kg</div>
  </div>
</template>

<script>
import { CIRCLE, TRIANGLE, SQUARE } from '@/constants/shape'
export default {
  name: 'Shapes',
  props: {
    onLever: {
      type: Boolean,
      required: false,
      default: false
    },
    isLoad: {
      type: Boolean,
      required: false,
      default: false
    },
    shape: {
      type: Object,
      required: true
    }
  },
  computed: {
    shapeClasses () {
      const { type } = this.shape
      return {
        'square': type === SQUARE,
        'triangle': type === TRIANGLE,
        'circle': type === CIRCLE
      }
    }
  },
  mounted () {
    this.setStyles()
    this.$watch('shape.left', this.setProportion, { immediate: true })
  },
  methods: {
    setProportion (left) {
      const { width } = this.$el.getBoundingClientRect()
      const start = this.isLoad ? 60 : 0
      this.$el.style.left =
        this.isLoad && left > 25
          ? `calc(${start + left}% - ${width}px)`
          : `${start + left}%`
    },
    setStyles () {
      const { style } = this.$el
      const { color, scale, type } = this.shape
      const styleProp = type === TRIANGLE ? 'borderBottomColor' : 'backgroundColor'
      style[styleProp] = color
      style.transform = `scale(${scale})`
      if (this.onLever) {
        style.transform += ' translateY(-100%)'
      }
    }
  }
}
</script>

<style lang='scss' scoped>
.shape {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: top left;
  .weight {
    font-size: 10px;
    font-weight: 500;
    color: #fff
  }
  &.square,
  &.circle {
    width: 2.25rem;
    height: 2.25rem;
  }
  &.circle {
    border-radius: 50%;
  }
  &.triangle {
    width: 0;
    height: 0;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
    border-bottom: 2rem solid;
    .weight {
      position: absolute;
      top: calc(100% + 1rem);
      width: 4.5rem;
      text-align: center;
    }
  }
}

</style>
