<template>
  <div class="teeter-totter">
    <div class="lever" :style = "leverStyles">
      <shapes v-for = "shape in effort" :key= "shape.id" :shape = "shape" on-lever />
      <shapes v-for= "shape in load" :key= "shape.id" :shape  = "shape" on-lever is-load />
    </div>
    <div class="fulcrum"></div>
  </div>
</template>

<script>
import { mapGetters, mapState, mapMutations } from 'vuex'
import {
  LEVER_HEIGHT
} from '@/constants/teeter-totter'
import Shapes from '@/components/PlaygroundSceneShapes'
export default {
  computed: {
    ...mapGetters([
      'leverBendingAngle',
      'isLeverAngleWithinLimits'
    ]),
    ...mapState([
      'effort',
      'load'
    ]),
    leverStyles () {
      return {
        transform: `rotate(${this.leverBendingAngle / 2}deg)`,
        height: `${LEVER_HEIGHT}px`
      }
    },
    weightDiff () {
      return this.effort.length - this.load.length
    }
  },
  watch: {
    weightDiff (val) {
      if (val > 0 && this.isLeverAngleWithinLimits) {
        this.generateShape(true)
      }
    }
  },
  methods: {
    ...mapMutations(['generateShape'])
  },
  components: {
    Shapes
  }
}
</script>
<style lang="scss">
  .teeter-totter {
    display: flex;
    flex-direction: column;
    align-items: center;
    .lever {
        position: relative;
        width: 100%;
        background-color: #d74545;
        transition: 300ms ease-in-out;
        height: 6px;
    }
    .fulcrum {
        width: 0;
        height: 0;
        border-left: 3rem solid transparent;
        border-right: 3rem solid transparent;
        border-bottom: 6rem solid #9b9b9b;
    }
  }
</style>
