<template>
  <main class="playground-scene">
    <incoming-area />
    <teeter-totter />
    <playground-dialog />
  </main>
</template>

<script>
import { mapActions } from 'vuex'
import TeeterTotter from '@/components/PlaygroundSceneTeeterTotter'
import IncomingArea from '@/components/PlaygroundSceneIncomingArea'
import PlaygroundDialog from '@/components/PlaygroundSceneDialog'
export default {
  created () {
    this.initGame()
  },
  methods: {
    ...mapActions([
      'initGame'
    ])
  },
  components: {
    TeeterTotter,
    IncomingArea,
    PlaygroundDialog
  }
}
</script>

<style lang='scss'>
.playground-scene {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  min-width: 600px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 10rem;
}
</style>
