<template>
  <el-dialog
    title="D'oh"
    :visible.sync="dialogVisible"
    :close-on-click-modal="false"
    :close-on-press-escape="false"
    :show-close="false"
    width="30%">
    <span>The game is over :(</span>
    <span slot="footer" class="dialog-footer">
      <el-button type="primary" @click="initGame">Try again</el-button>
    </span>
  </el-dialog>
</template>

<script>
import { mapActions, mapState } from 'vuex'
export default {
  computed: {
    ...mapState([
      'dialogVisible'
    ])
  },
  methods: {
    ...mapActions([
      'initGame'
    ])
  }
}
</script>
