<template>
  <footer>
    <div>
      <el-button
        tabindex="-1"
        size="small"
        type="primary"
        :icon="gamePaused ? 'el-icon-video-play' : 'el-icon-video-pause'"
        @click="toggleGame"
        circle
      />
      <el-button
        size="small"
        icon="el-icon-refresh-left"
        tabindex="-1"
        @click="initGame"
        circle
      />
    </div>
  </footer>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex'
import { SPACE } from '@/constants/keys'

export default {
  computed: {
    ...mapState([
      'gamePaused',
      'dialogVisible'
    ])
  },
  created () {
    window.addEventListener('keydown', this.handleSpaceClick)
  },
  beforeDestroy () {
    window.removeEventListener('keydown', this.handleSpaceClick)
  },
  methods: {
    ...mapActions(['initGame']),
    ...mapMutations(['toggleGame']),
    handleSpaceClick (event) {
      event.preventDefault()
      if (event.keyCode === SPACE && !this.dialogVisible) {
        this.toggleGame()
      }
    }
  }
}
</script>

<style lang='scss' scoped>
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #333;
}
</style>
