<template>
  <header class="controls">
    <div class="stats">
      <div>
        Total weight:
        <span class="weight">
          {{ totalEffortWeight }} kg
        </span>
      </div>
      <div>
        Momentum:
        <span class="weight">
          {{ incomingShapes[0] && incomingShapes[0].weight }} kg
        </span>
      </div>
    </div>
    <div class="stats">
      <div>
        Total weight:
        <span class="weight">
          {{ totalLoadWeight }} kg
        </span>
      </div>
    </div>
  </header>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState([
      'incomingShapes',
      'effort',
      'load'
    ]),
    totalEffortWeight () {
      return this.getTotalWeight(this.effort)
    },
    totalLoadWeight () {
      return this.getTotalWeight(this.load)
    }
  },
  methods: {
    getTotalWeight (shapes = []) {
      return shapes.reduce((total, current) => (total += current.weight), 0)
    }
  }
}
</script>

<style lang='scss' scoped>
.controls {
  display: flex;
  justify-content: space-between;
  flex: 0 0 6rem;
  padding: 0.5rem 1.5rem;
}
.stats {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: aquamarine;
  padding: 0.5rem 1rem;
  border-radius: 2px;
}
.weight {
  font-size: 1rem;
  font-weight: 500;
}
</style>
