<template>
  <div id="app">
    <the-header />
    <playground-scene />
    <the-footer />
  </div>
</template>

<script>
import PlaygroundScene from '@/components/PlaygroundScene'
import TheHeader from '@/components/TheHeader'
import TheFooter from '@/components/TheFooter'
export default {
  components: {
    PlaygroundScene,
    TheHeader,
    TheFooter
  }
}
</script>
<style lang='scss'>
html,
body,
#app {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}
html {
  overflow-y: auto !important;
}
#app {
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
